/*
* @Author: Administrator
* @Date:   2018-02-01 14:32:07
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-01 15:19:00
*/
*{

	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
.Zf_big{
height: 13.33rem;
width: 7.5rem;



}
.zhifubeijing{
height: 13.33rem;
width: 7.5rem;
position: relative;

}
.Zf_dibuanniu{
width: 4rem;
height: 0.8rem;
border-radius: 0.4rem;
background-image: -webkit-linear-gradient(left,#FB5973,#EC3059);
box-shadow: 0rem 0.1rem 0.3rem #FEBACE;
top: 11.78rem;
left: 1.71rem;
position: absolute;

}
.ZF_wenzi{
	width: 1.14rem;
	height: 0.26rem;
	margin-top: 0.27rem;
	margin-left: 1.42rem;
	font-size: 0.26rem;
	text-align: center;
	line-height: 0.26rem;
	font-weight: bold;
	color: white;

}
